*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

img{
    object-fit: cover;
}

.row{
    max-width: 100%;
}

/* Colores: */
.gris-oscuro{
    background-color: #808484;
}

@media only screen and (max-width: 414px) {
    .portada{
        height: 32.5vh;
    }
    .portada div{
        height: 100%;
    }
    .portada div img{
        width: 100%;
        height: 100%;
    }
    #containerTextoPortada{
        width: 100%;
        height: 100%;
        padding: 40% 0 25% 23%;
    }
    #containerTextoPortada h1{
        font-size: 0.65rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    #containerTextoPortada h2{
        font-size: 1.4rem;
        color: #D2F8E1;
    }
    #containerTextoPortada p{
        font-size: 0.35rem;
        color: white;
    }

    .encabezado_productos{
        background-color: white;
        height: 18vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #logo{
        width: 90px;
        height: 90px;
        margin-bottom: -8px;
    }
    .encabezado_productos h2{
        font-size: 0.7rem;
        font-weight: bold;
    }
    .encabezado_productos p{
        font-size: 0.4rem;
        font-weight: 600;
    }
    .encabezado_productos a{
        font-size: inherit;
        color:  #58c08a;
        font-weight: bold;
    }
    .card_product{
        border: #D2F8E1 solid 1px;
        border-radius: 0.2rem;
        width: 24vw;
        height: 24vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card_product img{
        width: 100%;
        height: fit fit-content;
    }

    .como_comprar_container{
        margin-top: 50px;
        height: 23vh;
        background-color: #E5E9F2;
    }
    .como_comprar_container h2{
        font-size: 0.7rem;
        text-align: center;
        font-weight: bold;
        padding-top: 8px;
    }
    .etapas_compra{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;
    }
    .etapas_compra div h5{
        font-size: 0.5rem;
        margin: 5px 0 3px 0;
        font-weight: bold;
    }
    .etapas_compra div p{
        font-size: 0.4rem;
        padding: 0 6px;
    }
    .etapa{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        padding: 0 3px;
    }
    .icon_size{
        font-size: 0.8rem;
        background-color: white;
        border: 1px solid white;
        border-radius: 50%;
        box-shadow: 0 1.5px #d4d3d3;
        padding: 3px 6px;
        margin-bottom: 2px;
        color: rgb(63, 63, 223);
    }

    .quienes_somos_container{
        height: 25vh;
        background-color: #FFF0EC;
    }
    .quienes_somos_contenido{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .quienes_somos_contenido img{
        width: 195px;
    }
    .quienes_somos_contenido div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: max-content;
        padding: 19px 12px 19px 25px;
    }
    .quienes_somos_contenido div h2{
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 11px;
    }
    .quienes_somos_contenido div p{
        font-size: 0.43rem;
    }
}